@use '../../globals' as *;
span{color: $primary-color;
font-size: 3.5rem;}
.body{
    background-color:$background-color-site ;
    justify-content: center;
    padding-bottom: 10rem;
}
.body .name{
    padding: 2rem 0 0 4rem;
    margin: 0;
}
.total{
    text-align: center;}
.total h1{
    font-size: 4rem;
    margin-top: 1rem;
}
.saldos{
    padding: 0 6rem 0 5rem;
    display: flex;
    justify-content: center;
}
.tipoGasto{
    display: flex;
    justify-content: space-around;
}
.gastos{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 1rem;
    padding-left:150px ;
    padding-right:150px ;
}
.p_tipogasto{
    margin-left: 3rem;
}
.btn-tipo{padding: 0;}

.card{
    width: 25rem;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    
    border-radius: 5px;
    
    box-shadow: 10px 10px 15px rgba(82, 82, 82, 0.155)
}

